.landingImage {
    background-image: url('./assets/images/background.png') !important;
    background-repeat: repeat;
    background-size: 100%;
    background-attachment: fixed;

    /* opacity: 0.5 */
};

#grad {
    background-image: linear-gradient(red, yellow);
};

.shadow {
  
    text-shadow: 2px 2px 4px #000000;

};

.imageOpacity {
    background-image: url('./assets/images/mmesinaLogo.png') !important;
  
    background-repeat: no-repeat;
    background-size: auto;
    height: auto;
    width: auto;
    background-attachment: fixed;
    opacity: 0.5,
};

#grad {
    background-image: linear-gradient(#5769a0,#04a0d8);
  };

  .thumbnailPics {
    max-height: 30px;
    max-width: 30px;
    float: left;
    border: 5px solid yellow !important;
}
  